@import "fonts";
@import "anims";

:root {
   --main: #7b9acc;
   --main-hover: #77abff;
   --bg: #FCF6F5;
   --h1: #7b9acc;
   --h2: #666666;
   --shadow: #7b9acc33;
}

@media (prefers-color-scheme: dark) {
   html {
      color-scheme: dark;
   }

   :root {
      --main: #59afe9;
      --main-hover: #7798f2;
      --bg: #373737;
      --h1: #59afe9;
      --h2: #c9beff;
      --shadow: #00000011;
   }
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

*:focus {
   outline: none;
}

html,
body {
   max-width: 100vw;
}

body {
   background-color: var(--bg);
}

.link {
   animation: var(--float);
   color: inherit;
   text-decoration: none;
   font-size: 30px;
}

:disabled,
:disabled:hover {
   background-color: var(--h2) !important;
   color: var(--shadow) !important;
   cursor: not-allowed;
}

::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background: var(--shadow);
}

::-webkit-scrollbar-thumb {
   background: var(--h2);
}

.form {
   transition: .1s ease-out;
   border-radius: 15px;
   padding: 30px;
   box-shadow: 0px 4px 20px 0px var(--shadow);
   background-color: var(--bg);
   width: 65%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 52px;
   margin-bottom: 52px;
}

.center {
   text-align: center;
}

.centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.flexRow {
   display: flex;
   flex-direction: row;
}

.lbl {
   font-family: var(--fontTitle);
   font-size: 24px;
   font-weight: 400;
   text-align: center;
   line-height: 20px;
   color: var(--h1);
   transition: .1s ease-out;
}

// ---------------------------------------------------------------- BUTTON

.btn {
   border: none;
   cursor: pointer;
   border-radius: 15px;
   background-color: var(--main);
   color: var(--bg);
   font-family: var(--fontTitle);
   font-size: 22px;
   font-weight: 500;
   padding: 5px 15px 5px 15px;
   margin: 5px;
   box-shadow: 0 3px var(--shadow);
   transition: .1s ease-out;
   text-decoration: none;
}

.btn:hover,
.btn:active {
   background-color: var(--main-hover);
}

.btn:active {
   box-shadow: 0 1px var(--shadow);
   transform: translateY(2px);
   transition: 0s;
}

.tooltiptext {
   max-width: 25%;
   visibility: hidden;
   opacity: 0;
   position: absolute;
   margin-left: -256px;
   margin-top: -80px;
   z-index: 3;
   background-color: var(--tooltip);
   color: var(--bg);
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 500;
   border-radius: 15px;
   padding: 15px;
   transition: 0.1s ease-out;
   line-height: 20px;
}

.tooltip:hover+.tooltiptext {
   animation: var(--float);
   visibility: visible;
   opacity: 1;
}

.h1 {
   font-family: var(--fontTitle);
   font-size: 44px;
   font-weight: 500;
   text-align: center;
   color: var(--h1);
   margin: 4px 4px 52px 4px;
}

.h2 {
   font-family: var(--fontText);
   font-size: 16px;
   font-weight: 300;
   text-align: justify;
   line-height: 28px;
   color: var(--h2);
}

// ---------------------------------------------------------------- INPUT

.formInput {
   border: none;
   border-bottom: 4px solid var(--shadow);
   font-family: var(--fontText);
   font-size: 20px;
   font-weight: 300;
   transition: .1s ease-out;
   padding: 10px;
   border-radius: 5px;
   color: var(--h2);
   width: 100%;
   height: 3rem;
   margin-top: 12px;
   margin-bottom: 42px;
   background-color: var(--bg);
}

.formInput:hover,
.formInput:focus {
   background-color: var(--shadow);
}

// ---------------------------------------------------------------- MODAL

.modal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   backdrop-filter: blur(3px);
   z-index: 999;
   background-color: red;
}

.modal-content {
   position: absolute;
   top: 48%;
   left: 50%;
   background-color: var(--bg);
   padding: 40px;
   border-radius: 15px;
   box-shadow: 0px 4px 20px 0px var(--shadow);
   animation: var(--appear);
}

.icon {
   width: 32px;
   height: 32px;
   border-radius: 100%;
   padding: 4px;
   margin: 4px;
   transition: .1s ease-out;
}

.sticky {
   position: sticky;
   top: 5px;
   width: fit-content;

}

.footer {
   @extend .h2;
   background-color: var(--shadow);
   text-align: center;
   padding: 24px;
}

.link {
   color: var(--main);
   text-decoration: none;
   font-weight: bolder;
   font-family: var(--fontTitle);
}

.link:hover {
   text-decoration: underline;
}

.row {
   display: flex;
}

.column {
   padding: 8px;
   margin: 8px;
   flex: auto;
}

@media (max-width: 1100px) {
   .row {
      display: inline;
   }

   .column {
      width: 100%;
   }
}